{% extends "layout/base.html" %}

{% block title %}Phân quyền tài khoản{% endblock %}
{% block body_class %}app-page{% endblock %}

{% block content %}
<div class="dashboard-box">

        <div class="top-bar">
            <div>
                <h1>PHÂN QUYỀN TÀI KHOẢN</h1>
                <p>
                    Quản lý:
                    <strong>{{ user['full_name'] }}</strong>
                </p>
            </div>

            <a class="logout-button" href="/manager/users">
                Quay lại
            </a>
        </div>

        <hr>

        <div class="info-box">
            <p>
                <strong>Tài khoản:</strong>
                {{ target_user['username'] }}
            </p>

            <p>
                <strong>Họ tên:</strong>
                {{ target_user['full_name'] }}
            </p>

            <p>
                <strong>Vai trò:</strong>
                {% if target_user['role'] == 'MANAGER' %}
                    Quản lý
                {% else %}
                    Nhân viên
                {% endif %}
            </p>
        </div>

        <hr>

        <form
            action="/manager/users/{{ target_user['id'] }}/permissions"
            method="post"
        >
            <h3>Chọn loại hồ sơ được phép xem/download</h3>

            {% for key, category in categories.items() %}
                <div class="checkbox-row">
                    <label>
                        {% if category['label'] in selected_categories %}
    <input
        type="checkbox"
        name="categories"
        value="{{ category['label'] }}"
        checked
    >
{% else %}
    <input
        type="checkbox"
        name="categories"
        value="{{ category['label'] }}"
    >
{% endif %}

                        {{ category['label'] }}
                    </label>
                </div>
            {% endfor %}

            <br>

            <button class="approve-button" type="submit">
                Lưu phân quyền
            </button>
        </form>

    </div>
    <script src="/static/language.js?v=3"></script>
{% endblock %}
